.root
{
	-fx-background-color: #FFFFFF;
}

.label
{
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

.button
{
	-fx-background-color: linear-gradient(#42e3f5, #5fccfe);  
	-fx-background-radius: 20;
	-fx-effect: dropshadow(gaussian, black, 10, 0.0, 3, 3);
	/*-fx-font-weight: bold;*/
	-fx-border-radius: 20;
}

.button:hover
{
	-fx-background-color: linear-gradient(#42b6f5, #428af5); 
	/*-fx-border-color: #718EA4; */
	/*-fx-highlight-text-fill: #718EA4; */
	-fx-cursor: hand; 
	-fx-background-radius: 20; 
}

.button:pressed
{
	-fx-translate-y: 2px; 
}

.text-field
{
	-fx-effect: dropshadow(gaussian, gray, 10, 0.0, 3, 3);
	-fx-background-radius: 10;
	/*-fx-background-color: lightgray;*/
}

#topPane 
{
	-fx-background-color: linear-gradient(#4f4949, #000000);
}

#leftPane
{
	-fx-background-color: linear-gradient(#F54242 25%, #D24731);
}

#centerPane
{
	-fx-background-color: white;
	-fx-text-fill:black;
}

#notice
{
	-fx-font-style: italic;
}

#errorText
{
	-fx-font-style: italic;
	-fx-text-fill: red;	
}

#confirmationText
{
	-fx-font-style: italic;
	-fx-text-fill: green;
}

#topText
{
	-fx-text-fill: white;
}

#review
{
	-fx-font-style: italic;
	-fx-text-fill: white;
}

#dateBar
{
	-fx-background-color: black;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-font-weight: bold;
}

#login
{
	-fx-background-color: white;
}

.combo-box
{
	-fx-background-color: linear-gradient(#42e3f5, #5fccfe); 
}

.combo-box-popup .list-view {
	-fx-background-color: linear-gradient(#42e3f5, #5fccfe); 
}